# --- Core Data Science ---
numpy==2.2.1
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.3
joblib==1.5.0

# --- Deep Learning (skoro używasz MLP) ---
tensorflow==2.20.0
keras==3.12.0

# --- Web API & Deployment ---
fastapi
uvicorn
pydantic
psycopg2-binary==2.9.10

# --- Visualization & Reports ---
matplotlib==3.10.3
seaborn==0.13.2
